//colors
$color-primary-light: #2998ff;
$color-primary: #3f9df5;
$color-primary-dark: #5643fa;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;


$color-tertiary: #55c57a;
$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

$color-red-dark: #881D36;
$color-red: rgb(230, 71, 65);
$color-red-light: #BA274A;


$default-font-size: 1.4rem;

$color-grey-dark-3: #777;
$color-grey-dark-2: #999;
$color-grey-dark-1: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;


