html{
    font-size: 62.5%; //1rem = 10px
    background-color: $color-white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
    margin: 2rem;
    background-image: linear-gradient(to left bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .75));
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    ::selection{
        
    }
}